@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --f-space-grotesk: "Space Grotesk", sans-serif;
    --border-2: 1px solid rgba(255,255,255,0.2);
    --blur-bg: blur(10px);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-space-grotesk);
}

body {
    min-height: 100vh;
    background: url(./assets/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    row-gap: 40px;
}

/* MAIN INPUT */

.main-input {
    width: 450px;
    height: 45px;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 5rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: var(--blur-bg);
    -webkit-backdrop-filter: var(--blur-bg);
    border: var(--border-2);
}

.input-itself {
    outline: none;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding-inline: 15px;
}

.input-itself::placeholder {
    color: rgb(185, 185, 185);
}

.input-button {
    padding-inline: 10px;
    border: 0;
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-weight: 500;
    border-left: var(--border-2);
    cursor: pointer;    
}

.input-button:hover {
    background-color: rgba(255,255,255,0.2);
}

.input-button:active {
    background-color: rgba(255,255,255,0.15);
}

/* 

    MAIN OUTPUT

*/

.main-output {
    width: 100%;
    display: none;
}

.main-output-active {
    display: unset;
}

/* MAIN OUTPUT HEADER */

.main-output-header {
    border: var(--border-2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-output-header-itself {
    border-left: var(--border-2);
    color: white;
    padding-block: 10px;
    text-align: center;
    font-weight: 400;
    backdrop-filter: var(--blur-bg);
    -webkit-backdrop-filter: var(--blur-bg);
}

.main-output-header-itself:first-of-type {
    border: 0;
}

/* MAIN OUTPUT HEADER WEATHER DAYS */

.main-output-header-weather-days {
    border-left: var(--border-2);
    position: relative;
}

/* MAIN OUTPUT HEADER WEATHER DAYS ITSELF */

.main-output-header-weather-days-itself {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    backdrop-filter: var(--blur-bg);
    -webkit-backdrop-filter: var(--blur-bg);
}

.main-output-header-weather-days-itself-text {
    font-size: 1rem;
}

.main-output-header-weather-days-itself:hover {
    background-color: rgba(255,255,255,0.2);
}

.main-output-header-weather-days-itself:active {
    background-color: rgba(255,255,255,0.15);
}

/* MAIN OUTPUT HEADER WEATHER DAYS DROP DOWN */

.main-output-header-weather-days-drop-down {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: var(--border-2);
    backdrop-filter: var(--blur-bg);
    -webkit-backdrop-filter: var(--blur-bg);
    opacity: 0;
    pointer-events: none;
    transition: top 300ms, opacity 300ms;
    z-index: 999;
}

.main-output-header-weather-days-drop-down-active {
    pointer-events: unset;
    opacity: 1;
    top: 100%;
}

.main-output-header-weather-days-drop-down-inner {
    color: white;
    text-align: center;
    padding-block: 10px;
    cursor: pointer;
    border-bottom: var(--border-2);
}

.main-output-header-weather-days-drop-down-inner:last-of-type {
    border: 0;
}

.main-output-header-weather-days-drop-down-inner-active {
    background-color: rgba(255,255,255,0.2);
}

.main-output-header-weather-days-drop-down-inner:hover {
    background-color: rgba(255,255,255,0.2);
}

.main-output-header-weather-days-drop-down-inner:active {
    background-color: rgba(255,255,255,0.15);
}

/* MAIN OUTPUT ITSELF */

.main-output-itself {
    border: var(--border-2);
    border-top: 0;
    backdrop-filter: var(--blur-bg);
    -webkit-backdrop-filter: var(--blur-bg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* MAIN OUTPUT ITSELF LEFT */

.main-output-itself-left {
    border-right: var(--border-2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.main-output-itself-left-svg {
    width: 150px;
    height: 150px;
}

.main-output-itself-left-temperature,
.main-output-itself-left-temperature-text {
    color: white;
    font-weight: 400;
}

/* MAIN OUTPUT ITSELF RIGHT */

.main-output-itself-right {
    height: max-content;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.main-output-itself-right-paragraph {
    color: white;
    font-size: 1.1rem;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
    .main-output-header {
        grid-template-columns: 1fr;
    }
    .main-output-header-itself,
    .main-output-header-weather-days {
        height: 50px;
        border: 0;
        border-top: var(--border-2);
    }
    .main-output-header-itself:first-of-type {
        border: 0;
    }
}

@media (max-width: 800px) {
    .main-output-itself {
        grid-template-columns: 1fr;
    }
    .main-output-itself-left {
        border: 0;
        border-bottom: var(--border-2);
    }
}

@media (max-width: 550px) {
    .main-input {
        width: 100%;
    }
    main {
        padding: 40px 20px;
    }
    .main-output-itself-right {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
}